[Unit]
Description=Webapp Run Script
After=network.target
ConditionPathExists=/opt/webapp/.env

[Service]
Type=simple 
User=csye6225
Group=csye6225

WorkingDirectory=/opt/webapp
ExecStartPre=/usr/bin/npm install
ExecStart=/usr/bin/node /opt/webapp/index.js

Restart=always
RestartSec=3
StandardOutput=file:/var/log/webapp/webapp.log
StandardError=file:/var/log/webapp/webapp.log
SyslogIdentifier=csye6225

[Install]
WantedBy=multi-user.target
