name: Packer Build

on:
  push:
    branches:
      - main
  pull_request:
    branches: ["main"]

jobs:
  build:
    name: Packer Build

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Create .env file
        run: |
          touch .env

      # Command to create zip file of project
      - name: Create Zip Artifact
        run: zip -r webapp.zip .

      # Command to init packer
      - name: Init Packer
        run: packer init packer/packer-gcp.pkr.hcl

      # Commands to authenticate setup GCP
      - name: Authenticate GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}

      - name: GCP SDK Setup
        uses: google-github-actions/setup-gcloud@v2

      - name: Gcloud CLI
        run: gcloud info

      # Command to build packer
      - name: Build Packer
        run: packer build -var-file="packer/variables.pkrvars.hcl" packer/packer-gcp.pkr.hcl
