name: WebApp Integration Tests

on:
  pull_request:
    branches: ["main"]
  push:
    branches:
      - main

env:
  HOST: ${{ secrets.HOST }}
  PORT: ${{ secrets.PORT || '8080'}}
  USERNAME: ${{ secrets.USERNAME }}
  PASSWORD: ${{ secrets.PASSWORD }}
  DATABASE: ${{ secrets.DATABASE }}
  ENV: ${{ secrets.ENV }}

jobs:
  build:
    name: Run Integration Tests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v3

      # Command to start sql instance
      - name: Start Sql instance
        run: sudo systemctl start mysql.service

      # Command to install node
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      # Command to install the webapp
      - name: Install node project
        run: npm ci

      # Command to run test cases
      - name: Run Integration Tests
        run: |
          export HOST=${{ secrets.HOST }}
          export PORT=${{ secrets.PORT }}
          export USERNAME=${{ secrets.USERNAME }}
          export PASSWORD=${{ secrets.PASSWORD }}
          export DATABASE=${{ secrets.DATABASE }}
          export ENV=${{ secrets.ENV }}
          npm test
